<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link type="text/css" rel="stylesheet" href="../css/general.css">
<link type="text/css" rel="stylesheet" href="../css/book.css">
<script type="text/javascript" src="../js/jquery-1.6.4.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>小经济</title>
</head>
<body>
	<!-- body -->
	
	<div class="body">
		<div class="div_body1">
			<p class="smallTittle"><a>古典经济学</a></p>
			<p style="width: 100%;margin-top: 10px" align="center"><img alt="" src="../css/image/smallTittle.jpg" width="70%" height="1px" /></p>
			<p class="smallTittle"><a>政治经济学</a></p>
		</div>
		<div class="div_body2">
			<table class="tb_book">
				<tr>
					<td>
							<div >
								<img alt="" src="book_image/Petty_tax.jpg">
							</div>
							<div class="book_content" >
								<p>书名：税赋论</p>
								<p>作者：威廉．配第</p>
								<p>履历：1623—1687年</p>
								<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
							</div>
					</td>
					<td>
							<div>
								<img alt="" src="book_image/Petty_politicCount.jpg">
							</div>
							<div class="book_content">
								<p>书名：政治算术</p>
								<p>作者：威廉．配第</p>
								<p>履历：1623—1687年</p>
								<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
							</div>
					</td>
					<td>
					<div>
						<img alt="" src="book_image/Petty_Ireland.jpg">
					</div>
					<div class="book_content">
						<p>书名：爱尔兰的政治剖析</p>
						<p>作者：威廉．配第</p>
						<p>履历：1623—1687年</p>
						<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
					</div>
					</td>
				 </tr>
				<tr>
					<td>
						<div>
							<img alt="" src="book_image/Smith_country.jpg">
						</div>
						<div class="book_content">
							<p>书名：国富论</p>
							<p>作者：亚当·斯密</p>
							<p>履历：1723～1790年</p>
							<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
						</div>
					</td>
					<td>
					<div>
						<img alt="" src="book_image/Smith_moral.jpg">
					</div>
					<div class="book_content">
						<p>书名：道德情操论</p>
						<p>作者：亚当·斯密</p>
						<p>履历：1723～1790年</p>
						<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
					</div>
					</td>
					<td>
						<div>
							<img alt="" src="book_image/Ricardo_politic.jpg" align="top">
						</div>
						<div class="book_content"  >
							<p>书名：政治经济学及赋税原理</p>
							<p>作者：大卫·李嘉图</p>
							<p>履历：1772—1823年</p>
							<p><a href="" style="padding-right: 20px">阅读</a><a href="">下载</a></p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>