<html>  
  <head>  
    <title>jQuery实例1：浮动窗口</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
    <script type="text/javascript" src="jslib/jquery.js" src="jslib/jquery.js"></script>  
    <script type="text/javascript" src="jslib/jquerywin.js" src="jslib/jquerywin.js"></script>  
    <link type="text/css" rel="stylesheet" href="css/win.css" href="css/win.css">  
  </head>  
  <body>  
  </body>  
    <a onclick="showWin()" href="#" href="#">弹出窗口</a>  
    <div id="win">  
        <div id="title">我是标题栏！<span id="close" onclick="hide()">X</span></div>  
        <div id="content">我是一个窗口！</div>  
    </div>  
</html>  
<html>
  <head>
    <title>jQuery实例1：浮动窗口</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="jslib/jquery.js" src="jslib/jquery.js"></script>
    <script type="text/javascript" src="jslib/jquerywin.js" src="jslib/jquerywin.js"></script>
    <link type="text/css" rel="stylesheet" href="css/win.css" href="css/win.css">
  </head>
  <body>
  </body>
    <a onclick="showWin()" href="#" >弹出窗口</a>
    <div id="win">
        <div id="title">我是标题栏！<span id="close" onclick="hide()">X</span></div>
        <div id="content">我是一个窗口！</div>
    </div>
</html>